@model AddressBookMVC.Models.ViewModels.PersonSubmitViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PersonSubmitViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePerson" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div id="emailsContainer" class="form-group">
                @Html.EditorFor(model => model.EmailAddresses, new { @class = "form-control" })
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="btn btn-default" type="button" id="btnAdd" value="Add E-mail Address" />
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="CreatePerson" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('#btnAdd').click(function () {
            $.ajax({
                async: true,
                data: $('#form').serialize(),
                type: "POST",
                url: "@Url.Action("AddEmailAddress", "Contacts")",
                success: function (partialView) {
                    console.log("partialView: " + partialView);
                    $('#emailsContainer').html(partialView);
                }
            });
        });
    </script>
}
